<div class="jumbotron mt-4">
    <h1 class="display-4">Mi carpeta</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Voluptate laboriosam, illum fugit veniam numquam consectetur cumque ipsa sed. 
        Aperiam nam quam nihil maiores sed quae deserunt laboriosam eos ipsum similique!</p>
    <a href="http://google.com" class="btn btn-primary btn-lg"> google</a>
</div>