<div class="col-md-4 mx-auto">
    <div class="card-body">
        <div class="card-header">
            <h3>
                Editar Nota
            </h3>
        </div>
        <form action="/notes/edit-notes/{{note._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT"> <!-- Input oculto-->
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="Titulo" value="{{note.title}}">
            </div>
            <div class="form-group">
                <textarea name="description" class="form-control">{{note.description}}</textarea>
            </div>
            <div class="from-group">
                <button class="btn btn-primary btn-block" type="submit">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>